@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* Reset some default styles */
body, h1, p, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c7baa9;
    color: #6e6969;
    border: none;
    border-radius: 20px;
}

button:hover {
    color: rgb(43, 53, 196);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
/*game1.html*/
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #000000;
    padding: 20px;
}

.round-button {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
}

.round-button:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

#myVideo {
    display: none;
}


/*game2.html*/
body.game2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #003d19;
}

#snake-gif {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*game3.html*/
body.game3 {
    margin: 0;
    overflow: hidden;
}

.emoji {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}


/*game4.html*/
#clickButton {
    position: absolute;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2f2f30;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/*game5.html*/
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popupWord {
    display: none;
    font-size: 24px;
    color: #000000;
}

/*game6.html*/
body.game6 {
    background-color: #ffffff;
}

.balloon {
    position: absolute;
    width: 50px;
    height: 70px;
    background-color: #2600fc;
    border-radius: 50%;
    cursor: pointer;
    animation: balloonAnimation 3s linear infinite;
}

/*QnA*/
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #000000d7;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #808080;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #252525;
    border-radius: 5px;
    text-align: center;
}

#popup-word {
    font-size: 24px;
    margin-bottom: 20px;
}

#response {
    font-size: 24px;
    margin-top: 20px;
}

/*Game8.html*/
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #525252; 
    margin: 0;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db; 
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#gameContainer {
    display: none;
    position: relative;
}

.plane {
    position: absolute;
    bottom: 50px;
    height: 50px; 
}

#building {
    position: absolute;
    bottom: 0;
    width: 50px; 
    height: 200px; 
    background-color: #ffffff; 
}

#result {
    display: none;
    font-size: 100px;
    color: #e74c3c; 
    margin-top: 20px;
}

/* Keyframes */
@keyframes vortexAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes balloonAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}
